#!/usr/bin/env bash

#{{ ansible_managed }}

function perform_restore(){

    # find latest backup file

    origin_file=passbolt-*

    echo "Restoring passbolt. Finding latest $origin_file.tgz file..."

    for file in $(find {{ backup_dr_path }} -type f -name "*.$origin_file.tgz")
    do
        [[ $file -nt $latest_backup ]] && latest_backup=$file
    done

    if [[ -n "$latest_backup" ]]; then

        echo -e "Using $latest_backup file"

        # stop services
        systemctl stop nginx

        # restore file backup
        tar xvzf $latest_backup -C /

        # restore database backup
        mysqldump=$(tar tzf $latest_backup | grep mysqldump)
        mysql < /$mysqldump

        sudo su -s /bin/bash -c "{{ passbolt_bin_path }}/cake passbolt cleanup" {{ passbolt_user }}

        # start services
        systemctl start nginx
        sudo su -s /bin/bash -c "{{ passbolt_bin_path }}/cake passbolt healthcheck" {{ passbolt_user }}
    else
        echo -e "File not found"
    fi
}

unset -v latest_backup
unset -v rst_option
unset -v rst_origin
unset -v origin_file

perform_restore
